# DeepARを利用した売上予測

## データの準備
### ダウンロード
このノートブックでは、オンラインのショッピングサイトにおける販売履歴から売り上げを予測します。データセットは、UCIのMachine Learning Repositoryの[Online Retail Data Set](https://archive.ics.uci.edu/ml/datasets/online+retail)です。まず、販売履歴のxlsxファイルをダウンロードします。

In [198]:
import urllib.request
urllib.request.urlretrieve("https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx", "online_retail.xlsx")

('online_retail.xlsx', <http.client.HTTPMessage at 0x7f478ad49358>)

## データセットの確認
データ解析ライブラリPandasで読み込んで表示してみます。

In [200]:
from IPython.core.display import display
import pandas as pd
df = pd.read_excel("online_retail.xlsx", parse_dates=["InvoiceDate"])
display(df)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## 不要な行の削除

In [201]:
del df["InvoiceNo"], df["Description"], df["CustomerID"]

## トップ5の抽出

In [202]:
top_five_code = df["StockCode"].value_counts().head().index
top_five_record = df[df["StockCode"].isin(top_five_code)]
top_five_record.set_index(top_five_record["InvoiceDate"], drop=True, inplace=True)
del top_five_record["InvoiceDate"]
display(top_five_record.head())
#top_five_record.groupby("stock")

                    StockCode  Quantity  UnitPrice         Country
InvoiceDate
2010-12-01 08:26:00    85123A         6       2.55  United Kingdom
2010-12-01 09:02:00    85123A         6       2.55  United Kingdom
2010-12-01 09:32:00    85123A         6       2.55  United Kingdom
2010-12-01 09:37:00     20725        10       1.65  United Kingdom
2010-12-01 09:57:00    85099B       100       1.65  United Kingdom

## 1時間おきに揃える

In [203]:
qty = top_five_record.groupby(["StockCode", "Country"]).resample('H').sum()["Quantity"]
price = top_five_record.groupby(["StockCode", "Country"]).resample('H').mean()["UnitPrice"]
resampled = pd.concat([qty, price],axis=1, join="inner")
display(resampled.head())

                                         Quantity  UnitPrice
StockCode Country   InvoiceDate
20725     Australia 2010-12-17 14:00:00        10       1.65
                    2010-12-17 15:00:00         0        NaN
                    2010-12-17 16:00:00         0        NaN
                    2010-12-17 17:00:00         0        NaN
                    2010-12-17 18:00:00         0        NaN

## 欠損値を最頻値で埋める

In [204]:
import numpy as np
resampled["UnitPrice"] = resampled.groupby(['StockCode','Country'])['UnitPrice'].apply(lambda x: x.fillna(x.mode()[0]))
display(resampled.head())

                                         Quantity  UnitPrice
StockCode Country   InvoiceDate
20725     Australia 2010-12-17 14:00:00        10       1.65
                    2010-12-17 15:00:00         0       1.65
                    2010-12-17 16:00:00         0       1.65
                    2010-12-17 17:00:00         0       1.65
                    2010-12-17 18:00:00         0       1.65

# 標準化する

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled = scaler.fit_transform(resampled.loc[:, ['Quantity', 'UnitPrice']].values)
resampled['Quantity'] = scaled[:, 0]
resampled['UnitPrice'] = scaled[:, 1]

## 入力に利用するjsonファイルを作成する

In [226]:
stockcode_arr = resampled.index.levels[0]
country_arr = resampled.index.levels[1]

json_data = []
for stock_index in range(len(stockcode_arr)):
    for country_index in range(len(country_arr)):
        one_data ={}
        try:
            record = resampled.loc[stockcode_arr[stock_index],country_arr[country_index]]
            one_data['start'] = str(record.index[0])
            one_data['target'] = record["Quantity"].values.tolist()
            one_data['cat'] = [stock_index, country_index]
            one_data['dynamic_feat'] = [record["UnitPrice"].values.tolist()]
            json_data.append(one_data)
        except:
            pass

import json
with open("./training_data.json", 'wb') as fp:
    for d in json_data:
        fp.write(json.dumps(d).encode("utf-8"))
        fp.write("\n".encode('utf-8'))

In [227]:
import sagemaker
from sagemaker import get_execution_role

sagemaker_session = sagemaker.Session()
role = get_execution_role()

train_input = sagemaker_session.upload_data(
    path="./training_data.json",key_prefix='deepar/retail_forecast')

In [228]:
region = "ap-northeast-1"
image_name = sagemaker.amazon.amazon_estimator.get_image_uri(region, "forecasting-deepar", "latest")
estimator = sagemaker.estimator.Estimator(
    sagemaker_session=sagemaker_session,
    image_name=image_name,
    role=role,
    train_instance_count=1,
    train_instance_type='ml.c4.2xlarge',
    base_job_name='deepar-retail-forecast',
)

In [229]:
hyperparameters = {
    "time_freq": 'H',
    "epochs": "400",
    "early_stopping_patience": "40",
    "mini_batch_size": "64",
    "learning_rate": "5E-4",
    "context_length": "168",
    "prediction_length": "72"
}
estimator.set_hyperparameters(**hyperparameters)

In [ ]:
estimator.fit(inputs={"train":train_input}, wait=True)

INFO:sagemaker:Creating training-job with name: deepar-retail-forecast-2018-10-05-00-14-34-276

.......

In [213]:
instance_type = 'ml.m4.xlarge'
predictor = estimator.deploy(initial_instance_count=1, instance_type=instance_type)

INFO:sagemaker:Creating model with name: forecasting-deepar-2018-10-04-23-43-42-436
INFO:sagemaker:Creating endpoint with name deepar-retail-forecast-2018-10-04-23-32-08-548

---------------------------------------------------------------!

In [217]:
instances = json_data[104]

##　Pick up the first 168 past sales  and 168 past prices + 72 future prices
data = {
    'start': instances['start'],
    'target': instances['target'][:168],
    'cat': instances['cat'],
    'dynamic_feat': instances['dynamic_feat'][:168+72],
}
configuration = {"num_samples": 100, "output_types": ["samples"], "quantiles": ["0.1", "0.5", "0.9"]}
http_request_data = {"instances": [data], "configuration": configuration}
byte_json = predictor.predict(json.dumps(http_request_data).encode("utf-8"))
result = json.loads(byte_json)

gt = instances['target'][:168]
prediction = result['predictions'][0]['samples'][0]

[6, 12, 102, 12, 9, 0, 36, 0, 262, 15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 12, 18, 12, 0, 18, 1, 30, 50, 0, 166, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 7, 0, 0, 13, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 14, 132, 1, 0, 32, 12, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 21, 28, 6, 44, 8, 38, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 38, 128, 38, -1, 100, 0, 16, 6, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0.0289305598, 0.8252676725, 1.3761969805, 4.6711082458, 0.2779209614, -1.5657014847, -0.840724349, 2.8716850281, 1.9332346916, 0.2250470519, 0.307280302, -0.9478874803, -0.1842277646, -0.1710176617, -0.0899916664, -0.0381147936, -0.0374178961, -0.0222995281, -0.0606507435, -0.0068998542, 0.0538562611, 0.0667261183, 0.067075789, -0.0004428253, -0.108100377, -0.3005953133, -0.4387862086, -1.5591180325, -0.0306200087, -0.2811578214, -2.8452944756, 1.6155059338, 2.7924859524, -0.9821354747, -0.3339445591, -0.0976201147, -0.1073303595, -0.0413167775, -0.2267342806, -0.0566192567, -0.0165514071, 0.0380895622, -0.0154000605, -0.0125358999, -0.0008781264, -0.0307361465, 0.0060179513, -0.0258083642, -0.0021602991, -0.1647474766, 1.0958997011, 0.9628762007, 1.6553547382, 1.7066495419, -0.6440624595, -0.8577603102, -0.6445469856, -0.4659079909, -0.2483985126, -0.1042544693, -0.0034002727, 0.010872161, -0.0833786651, 0.0368141383, 0.0488875993, -0.0170752145, 0.0261906739, 0.0246346202, -0.0069640614, -0.0037338985, 0.0471097343, 0.0293530431]